body {
  --dg-content-max-width: 1400px;
  --font-default: "Inter";
}
.container {
  display: flex;
  justify-content: center;
}

.is-phone iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
  height:auto !important;
}
